@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: #0c1022;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #0c1022;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}


.logo {
    font-size: 25px;
    color: #ffff;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    pointer-events: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #ffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s* var(--i));
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg,
            #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}



#menu-icon {
    font-size: 3.6rem;
    color: var(--text--color);
    display: none;
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideRLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    color: #0ef;

}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,
            #3cf, #f06);
    z-index: -1;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::before {
    background-position: 100% 0;
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,
            #3cf, #f06);
    z-index: -1;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.btn:hover::after {
    background-position: 100% 0;
}



.home-sci a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 0;
    z-index: 1;
}

.home-sci a:nth-child(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(2) {
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a:nth-child(3) {
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2.1s;
}

.home-sci a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::before {
    filter: blur(5px);
}

.home-sci a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}

.home-sci a:hover::after {
    transform: scale(0);
}

.home-img {
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2.1s, 3.1s;
}

.home-img .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    background: linear-gradient(#f06, #3cf);
    justify-content: center;
    align-items: center;
}

.home-img .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;

}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f06, #3cf);
    border-radius: 50%;
    animation: circleRotate 5s linear infinite;
}

.glowing-circle span:nth-child(1) {
    filter: blur(10px);

}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    object-fit: cover;
    top: 5px;
    max-width: 380px;
}

:root {
    --bg--color: #1f242d;
    --second-bg--color: #0c1022;
    --text--color: #fff;
    --main--color: #0ef;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg--color);

}


.heading a:hover {
    background: linear-gradient(45deg,
            #f06, #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.heading {
    text-align: center;
    font-size: 4.5rem;
}


.about-content h3,
h4,
p {
    text-align: left;
    width: 100%;

}


.about-content {
    width: 100%;

}



.about img {
    height: 100%;
    width: 100%;
    object-position: right;
    align-items: center;
    justify-content: center;
    object-fit: fill;
    padding-left: 20px;

}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 5rem;
    justify-content: right;
    margin-bottom: 3rem;

}

span {
    color: #f06;
}


.about-content h3 {
    text-align: left;
    font-size: 3rem;
    justify-content: right;
}

.about-content h4 {
    font-size: 2rem;
    width: 100%;
    height: 100%;

}



.skills h4,
h5 {
    font-size: 3rem;
    text-align: center;
}

.skills {
    text-align: center;
    font-size: 4.5rem;
    color: linear-gradient(#f06, #3cf);
    margin-top: 7rem;
}


.skills h2 {
    margin-bottom: 5rem;
    color: #f06;
    text-align: center;
}

.skills ul {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 0 40px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    color: #3cf;

}

.skills-content i {
    display: flexbox;
    font-size: 7rem;
    text-align: center;
    color: #3cf;
}

.list-course p {
    text-align: center;
    font-size: 1.6rem;
    color: #f06;
}

.portfolio {
    background: var(--bg--color);
    padding: 5%;
    justify-content: space-between;

}

.portfolio h2 {
    margin-bottom: 4rem;
    font-size: 3rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    ;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg--color);
    overflow: hidden;
    display: flex;

}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main--color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}


.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text--color);
    border-radius: 50%;

}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg--color);

}


.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);

}

.services h2 {
    margin-bottom: 5rem;

}

.service-c0ntainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

.service-c0ntainer .service-b0x {
    flex: 1 1 30rem;
    background: var(--second-bg--color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #f06;

}

.service-b0x i {
    font-size: 7rem;
    color: var(--bg--color);
}

.service-b0x h3 {
    font-size: 2.6rem;

}

.service-b0x p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.contact h2 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.contact {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text--color);
    background: var(--bg--color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form btn {
    margin-top: 2rem;
    cursor: pointer;

}


.contact form input {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    font-size: 19px;
    color: #fff;
    background: var(--bg--color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 40px;
    z-index: 1;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.8s;
}



.contact form input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,
            #3cf, #f06);
    z-index: -1;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.contact form input:hover:before {
    background-position: 100% 0;
}

.contact form input::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06,
            #3cf, #f06);
    z-index: -1;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(5px);
    transition: .5s ease;
}

.contact form input:hover::after {
    background-position: 100% 0;
}




.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3rem 10%;
    flex-wrap: wrap;
    background: var(--bg--color);
}

.footer-text p {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
}

.footer-iconTop a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    padding: .8rem;
    background: #fff;
    border-radius: .8rem;
    transition: .5s ease;

}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem #f06;
}

.footer-iconTop a {
    font-size: 1.4rem;
    color: #f06;

}

.footer-sci a {
    font-size: 2rem;
    margin: 1rem;

}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slideRLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}


@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }

}


@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }

}



@keyframes circleRotate {
    0% {
        transform: rotate(0);
    }


    100% {
        transform: rotate(360deg);
    }

}

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    .skills {
        padding-bottom: 7rem;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;

    }
}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg--color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }


    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;

    }

    .home {
        flex-direction: column;

    }

    .home-content h3 {
        font-size: 2rem;
    }

    .home-content h1 {
        width: 70vw;
        font-size: 3rem;
    }

    .home-img img {

        width: 73vw;
        margin-top: 1rem;
    }


    .home-img {
        display: block;
        margin-top: 2rem;
    }

    .home-img .image {}

    .home-img .glowing-circle {
        width: 50%;
        height: 50%;
    }

    .home-sci {
        display: flex;
        flex-direction: row-reverse;
        font-size: 3rem;
    }

    .home-sci a {
        margin: 10px;

    }

    .about {
        flex-direction: column-reverse;
    }

    .about h2 {
        margin-top: 30rem;
        font-size: 4rem;
    }

    .about h4 {
        font-size: 2rem;
    }

    .about-content img {
        max-width: 100px;
        margin-left: 4rem;
    }

    .skills ul {
        margin-bottom: 3rem;
        font-size: 2rem;

    }

    .list-course p {
        font-size: 2rem;
        color: #f06;
    }

    .portfolio h2 {
        margin-bottom: 1rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);


    }



}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .home-img img {
        width: 90vh;
    }

    .footer {
        flex-direction: column-reverse;
        display: flexbox;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

    .footer-sci a {
        font-size: 35px;

    }

}
